
h1 { 
    font-family:"Helvetica";
  }

 h1 {
    text-decoration-line: underline line-through;
    text-decoration-color: red;
  }

  p {
    max-width: 75%;
  }
  h2 {
    max-height: 75%;
  }
 h3 { 
   min-width: 75%;
 }

 h4{
  min: height 75%;;
 }
 .white-with-blue-shadow {
  text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
  color: white;
  font: 1.5em Georgia, "Bitstream Charter", "URW Bookman L", "Century Schoolbook L", serif;
}
  
.borde {
  border-left: 2px solid black;
  border-right: 5px dotted red;
  border-top: 8px double blue;
  border-bottom: 4px dashed green;
}

.espaciado {
  padding: 2rem 1rem 3rem 4rem; 
}

.margen{
  margin: 2rem 4rem 6rem 1rem;
}

.cuadro{
  border-radius: 10px 100px / 120px
}

.radio {
  border: 8px double blue;
  border-radius: 500px 500px / 500px;
  margin: 2rem 4rem 6rem 1rem;
  padding: 2rem 1rem 3rem 4rem;           
}

.bordetres {
  border: 8px double violet;
  border-radius: 15px 50px 30px 5px;
  margin: 2rem 4rem 6rem 1rem;
  padding: 2rem 1rem 3rem 4rem;           
}

.bordecuatro {
  border: 8px  dashed red;
  border-bottom-right-radius: 4em 0.5em;
  margin: 2rem 4rem 6rem 1rem;
  padding: 2rem 1rem 3rem 4rem;           
} 

.bordecinco {
  border: 8px double green;
  border-radius: 15px 50px;
  margin: 2rem 4rem 6rem 1rem;
  padding: 2rem 1rem 3rem 4rem;           
} 

.bordeseis {
  border: 8px groove chocolate;
  border-radius:8em 5em;
  margin: 2rem 4rem 6rem 1rem;
  padding: 2rem 1rem 3rem 4rem;           
} 

.bordesiete {
  border: 8px dotted hotpink;
  border-radius:10px 5px 50px;
  margin: 2rem 4rem 6rem 1rem;
  padding: 2rem 1rem 3rem 4rem;           
} 

.bordeocho {
  border: 8px dotted yellowgreen;
  border-radius:77% 23% 50% 50% / 70% 67% 33% 30%;
  margin: 2rem 4rem 6rem 1rem;
  padding: 2rem 1rem 3rem 4rem;           
} 

.bordenueve {
  
  border-radius:77% 20% / 10%;
  margin: 2rem 4rem 6rem 1rem;
  padding: 2rem 1rem 3rem 4rem;           
} 

.bordediez {
  border: 8px solid mediumvioletred;
  border-radius:77% 23% 50% 50% / 70% 67%;
  margin: 2rem 4rem 6rem 1rem;
  padding: 2rem 1rem 3rem 4rem;           
}

.bordeonce {
  width: 200px;
  height: 200px;
  background: red;
  border-radius: 100px   
}
